{% extends "base.html" %}

{% block title %}Załóż konto{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4"> 
      <div class="card border-secondary" style="margin-top: 30px;"> 
        <div class="card-header bg-secondary text-white">Załóż konto</div> 
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <!-- Pole dla nazwy użytkownika -->
            <div class="form-group">
              <label for="username">Nazwa użytkownika:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{ form.username }}
              </div>
              <!-- Wyświetlanie błędów walidacji dla nazwy użytkownika -->
              {% if form.username.errors %}
              <div class="invalid-feedback">
                {{ form.username.errors|join:", " }}
              </div>
              {% endif %}
            </div>
            <!-- Pole dla adresu email -->
            <div class="form-group">
              <label for="email" class="mt-2">Adres email:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                {{ form.email }}
              </div>
              <!-- Wyświetlanie błędów walidacji dla adresu email -->
              {% if form.email.errors %}
              <div class="invalid-feedback">
                {{ form.email.errors|join:", " }}
              </div>
              {% endif %}
            </div>
            <!-- Pole dla hasła -->
            <div class="form-group">
              <label for="password1" class="mt-2">Hasło:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                {{ form.password1 }}
              </div>
              <!-- Wyświetlanie błędów walidacji dla hasła -->
              {% if form.password1.errors %}
              <div class="invalid-feedback">
                {{ form.password1.errors|join:", " }}
              </div>
              {% endif %}
            </div>
            <!-- Pole do powtórzenia hasła -->
            <div class="form-group">
              <label for="password2" class="mt-2">Powtórz hasło:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                {{ form.password2 }}
              </div>
              <!-- Wyświetlanie błędów walidacji dla powtórzenia hasła -->
              {% if form.password2.errors %}
              <div class="invalid-feedback">
                {{ form.password2.errors|join:", " }}
              </div>
              {% endif %}
            </div>
            <!-- Pole do wpisania CAPTCHA -->
            <div class="form-group">
              {{ form.captcha }}
              <!-- Wyświetlanie błędów walidacji dla CAPTCHA -->
              {% if form.captcha.errors %}
              <div class="invalid-feedback">
                {{ form.captcha.errors|join:", " }}
              </div>
              {% endif %}
            </div>
            <!-- Przycisk do wysłania formularza -->
            <button type="submit" class="btn btn-primary btn-block">Załóż konto</button>
            <!-- Link do logowania -->
            <a href="{% url 'login' %}" class="btn btn-link">Masz już konto? Zaloguj się</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
 
  .card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }

  .card-header {
    background-color: #6c757d; 
    color: white;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
  }

  .card-body {
    padding: 30px;
    background-color: #f7f7f7;
  }

 
  .input-group-prepend .input-group-text {
    background-color: #28a745; 
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .form-control {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


  .btn-primary {
    background-color: #28a745; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }

  .btn-primary:hover {
    background-color: #218838; 
  }

  .form-group {
    margin-bottom: 20px; 
  }

  
  .signup-link {
    margin-top: 20px;
    text-align: center;
  }

  .signup-link a {
    color: #28a745; 
    font-weight: bold;
    transition: color 0.3s;
  }

  .signup-link a:hover {
    text-decoration: none;
    color: #218838; 
  }

  
  .invalid-feedback {
    display: block;
    margin-top: 5px;
    font-size: 0.875rem;
    color: #dc3545;
  }

  
  img.captcha {
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
  }

 
  input[name="captcha_1"] {
    display: inline-block;
    vertical-align: middle;
  }
</style>
{% endblock %}
