
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>{{ post.tytul }}</h2>
      <p>{{ post.tresc }}</p>
      <small>Autor: {{ post.autor }}</small>
      <br>
      <small>Data utworzenia: {{ post.data_utworzenia }}</small>
      <p>
        <br>
        {% if post.image %}
        <img src="{{ post.image.url }}">
        {% endif %}
      </p>
      
      <button id="add-comment-button" class="btn btn-primary mt-3">Dodaj komentarz</button>

      <form id="comment-form" method="post" action="{% url 'add_comment' post.id %}" style="display: none;" class="mt-3">
        {% csrf_token %}
        <div class="form-group">
          <label for="comment">Komentarz:</label>
          <textarea id="comment" name="comment" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-2">Dodaj</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById("add-comment-button").addEventListener("click", function() {
    var commentForm = document.getElementById("comment-form");
    if (commentForm.style.display === "none") {
      commentForm.style.display = "block";
    } else {
      commentForm.style.display = "none";
    }
  });
</script>
