{% extends "base.html" %}

{% block title %}Stwóz post{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-primary">
        <div class="card-header bg-primary text-white">NICCC</div>
        <div class="card-body">

          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="tytul">Tytuł:</label>
              {{ form.title }}
              {% if form.title.errors %}
              <div class="invalid-feedback">
                {{ form.title.errors|join:", " }}
              </div>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="tresc" class="mt-2">Zawartość Postu:</label>
              {{ form.description }}
              {% if form.tresc.errors %}
              <div class="invalid-feedback">
                {{ form.description.errors|join:", " }}
              </div>
              {% endif %}
            </div>
            
            <button type="submit" class="btn btn-primary">Dodaj Post</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<style>
  /* Dodaj tutaj style CSS */
  .card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    background-color: #007bff;
    color: white;
    border-bottom: none;
  }

  .card-body {
    padding: 30px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-group label, .form-group input {
    margin-top: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .btn-link {
    color: #007bff;
  }

  .btn-link:hover {
    text-decoration: none;
  }

  .invalid-feedback {
    color: red;
    font-size: 12px;
  }
</style>
{% endblock %}
